<%= content_for :container_div_class, "memberlogin" %>

<h6>Sign Up</h6>


<div class="contentmidder bdbot">
  <div class="forsaveto"><span>Sign up with</span></div>
  <div class="sharebutton">
    <a href="#"><img src="/assets/facebook.png" width="126" height="32" alt="Share with Facebook" border="0"/></a>
    <a href="#"><img src="/assets/twitter.png" width="126" height="32" alt="Share with Twitter" border="0"/></a>
    <a href="#"><img src="/assets/google_plus.png" width="126" height="32" alt="Share with Google+" border="0"/></a>


    <div class="clearboth"></div>
  </div>

  <div class="forsaveto"><span>Sign up with your account detail</span></div>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="logininput">
        <%= f.email_field :email, :autofocus => true, :class => "shartabinput", :placeholder => "Email" %>
      </div>

      <div class="logininput">
        <%= f.password_field :password, :class => "shartabinput", :placeholder => "Password" %>
      </div>

      <div class="logininput">
        <%= f.password_field :password_confirmation, :class => "shartabinput", :placeholder => "Confirm Password" %>
      </div>


      <div class="clearboth"><input type="submit" value="&nbsp;Sign Up&nbsp;" class="uploastyle2">
      </div>

<% end %>

  <div class="clearboth"></div>
  <div class="donthaveaccount">
    Have an account? <a href="<%= new_user_session_path %>">Sign In</a>
  </div>
</div>


