<div class="row">
  <%= link_to from_code_url(@product.code), from_code_path(@product.code) %>   <br>
  <%= number_to_currency @order.total, :unit => "$" %>
</div>

<div class="row" style="width:400px;">
  <%= image_tag @product.image.attachment.url if @product.image %>
</div>

<div class="row" style="width:400px;">
  <%= @product.name %>
</div>
<div class="row" style="width:400px;">
  <%= @product.description %>
</div>

<% @order.contents.each do |c| %>
    <div class="well">
      <span><%= c.attachment_file_name %></span>
      <%= link_to "Download", c.attachment.url, download: "#{c.attachment_file_name}", :class => "btn glow download" %>
    </div>
<% end %>

<%= link_to "Back", profile_bought_orders_path %>