<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= content_for?(:title) ? yield(:title) : "AirSpace" %></title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %></head>

<body>
<%= render :partial => "layouts/social" %>
<div class="warpperfull">
  <div class="headermid">
    <div class="headerdelis">
      <div class="logodiv"><a href="#"><img src="/assets/logo.png" border="0" alt="" width="56" height="57"/></a></div>
      <div class="headericondiv">
        <ul>


          <li>
            <div class="iocntopdiv">
              <div class="iconshow">
                <a href="#"><img src="/assets/topicon01.png" border="0" alt="" width="22" height="20"/></a></div>
              <div class="textshow">
                <a href="#">Balance</a>
              </div>
            </div>
          </li>
          <li>
            <div class="iocntopdiv">
              <div class="iconshow">
                <a href="#"><img src="/assets/topicon02.png" border="0" alt="" width="22" height="20"/></a></div>
              <div class="textshow"><%= link_to "Products", profile_products_path %></div>
            </div>
          </li>

          <li>
            <div class="iocntopdiv">
              <div class="iconshow">
                <a href="#"><img src="/assets/topicon03.png" border="0" alt="" width="22" height="20"/></a></div>
              <div class="textshow"><a href="#">Task</a></div>
            </div>
          </li>

          <li>
            <div class="iocntopdiv">
              <div class="iconshow">
                <a href="#"><img src="/assets/topicon04.png" border="0" alt="" width="22" height="20"/></a></div>
              <div class="textshow"><a href="#">Inbox</a></div>
            </div>
          </li>

          <li>
            <div class="iocntopdiv">
              <div class="iconshow">
                <a href="#"><img src="/assets/topicon05.png" border="0" alt="" width="22" height="20"/></a></div>
              <div class="textshow"><a href="#">Reports</a></div>
            </div>
          </li>

          <li>
            <div class="iocntopdiv">
              <div class="iconshow">
                <a href="#"><img src="/assets/topicon06.png" border="0" alt="" width="22" height="20"/></a></div>
              <div class="textshow"><a href="#">Notification</a></div>
            </div>
          </li>
          <li>
            <div class="iocntopdiv">
              <div class="iconshow">
                <a href="#"><img src="/assets/topicon07.png" border="0" alt="" width="22" height="20"/></a></div>
              <div class="textshow"><a href="#">Settings</a></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="userboxright">
        <div class="userimgshow">
          <a href="#"><img src="/assets/userimgtop.png" border="0" alt="" width="63" height="65"/></a></div>
        <div class="userdelisdiv">

          <div class="singdiv">
            <div class="singshowbox">
              <div class="singicon">
                <a href="#"><img src="/assets/singicon01.png" border="0" alt="" width="15" height="13"/> </a></div>
              <div class="singtxt"><a href="#">Sign Out</a></div>
            </div>
            <div class="singshowbox">
              <div class="singicon">
                <a href="#"><img src="/assets/helpicon.png" border="0" alt="" width="13" height="13"/> </a></div>
              <div class="singtxt"><a href="#">Help</a></div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<div class="conntendmid">
  <div class="contentdelis">
    <div class="informationdiv">
      <div class="productdiv">
        <%= yield %>
        <div class="clearboth"></div>
      </div>
    </div>
  </div>
</div>

<div class="footerfull">
  <div class="footermid">
    <div class="fooermater">2014 &copy; Airspace
      <div class="shareiconsfooter">
        <a href="#"><img src="/assets/share_facebook.png" width="28" height="28" alt="Share on Facebook" title="Share with Facebook"/></a>
        <a href="#"><img src="/assets/share_twitter.png" width="28" height="28" alt="Share on Twitter" title="Share with Twitter"/></a>
        <a href="#"><img src="/assets/share_blog.png" width="28" height="28" alt="Share on Twitter" title="Share on Blog"/></a>


      </div>
    </div>
  </div>
</div>

</body>
</html>
